*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Montserrat';
    font-style: normal;
    background-color: #efefef;
}
.container{
    display: flex;
}
/*MENU*/
.container_menu{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    background-color: #3F739C;
    border-bottom-right-radius: 10vh;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo{
    width: 10vh;
    height: 10vh;
    margin-top: 5vh;
}

.menu{
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    transition: transform 200ms;
}

.menu img{
    padding: 2vh;
}

a:hover {
    transform: scale(1.08);
    cursor: pointer;
}
/*CONTEUDO*/
.container_conteudo{
    width: 100%;
}
.sigla{
    font-size: 4vh;
    margin-left: 10vh;
}

.nome_usuario{
    display: flex;
    margin-top: 3vh;
    background-color: #FFC53D;
}

.img{
    display: flex;
    align-items: center;
    margin-left: 5vh;
}

.imgperfil{
    margin-left: 5vh;
}

.info {
    margin-top: 2vh;
    margin-left: 2vh;
    align-items: center;
}

.info_pontos{
    display: flex;
    align-items: center;
    margin-right: 1v;
    margin-top: 1vh;
    margin-bottom: 2vh;
    font-size: 15px;
}

.info_pontos p{
    margin-right: 1vh;
}
.info_pontos p{
    margin-right: 0.5vh;
}

.info_pontos img{
    margin-right: 2vh;
}

.us_coroa{
    display: flex;
    align-items: center;
    margin-left: 25vh;
}

.buscapracima{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3vh;
}

.card_busca{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 428px;
    height: 55px;
    border-radius: 20px;
    margin-top: 3vh;
    transition: transform 200ms;
    background-color: #C2CBD9;
}

.text_busca{
    font-weight: 400;
    font-size: 18px;
    border: none;
    background-color: #C2CBD9;  
}

.lupa{
    margin-left: 120px;
}

.bnt_card_pracima{
    margin-left: 3vh;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFC53D;
}

.bnt_card_pracima img{
    max-width: 40px;
    max-height: 40px;
}

.bnt_card_pracima:hover{
    transform: scale(1.08);
    cursor: pointer;
}

.paragrafo{
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    margin-left: 15vh;
}
.texto{
    justify-content: left;
    margin-top: 3vh;
    opacity: 50%;
}

.texto ul{
    margin-left: 2vh;
}
/*PRA CIMA*/
.container_pracima{
    width: 100vh;
    height: 100vh;
    background-color: #E5E5E5;
    box-shadow:  -4px 4px 4px rgba(0, 0, 0, 0.25);
}

.pc_titulo{
    display: flex;
    align-items: center;
    margin-top: 5vh;
    margin-left: 5vh;
    color: #3F739C;
}

.pc_icon{
    margin-right: 1vh;
}

.pc_nome{
    font-weight: 600;
    font-size: 15px;
}

.pc_perfil{
    margin: 5vh;
}

.pc_font{
    font-weight: 400;
}
.pc_color{
    font-weight: 700;
    color: #3F739C;
}

.pc_pessoa{
    display: flex;
    margin-bottom: 5vh;
}

.pc_pessoa h4{
    font-weight: 500;
}