{% load static %}
<html lang="pt-br">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/card-pessoal.css' %}">
        <title>SGAV</title>
    </head>
    <body>
        <div class="container">
            <div class="principal">
                <div class="menu-lateral">
                    <img class="logo" src="{% static 'img/logo empresa.png' %}" alt="logo">
                </div>
                <div class="titulo">
                    <div class="titulo-principal">
                    <h1>SGAV</h1>
                </div>
        <section class="caixas">
            <div class="menu">
                <div class="container_perfil">
                    <div class="img">
                        <img class="imgperfil" src="{% static 'img/perfil-branco.png' %}" alt="">
                        <div class="info">
                            <h1>Fulano da Silva</h1>
                            <h2 class="texto">Cargo |   1 ª   |    3 meses na Empresa</h2>
                            <div class="container_ponto">
                                <div class="pontuação">
                                    <p>10</p>
                                    <img src="{% static '../img/estrela.png' %}">
                                </div>
                                <div class="pontuação">
                                    <p>5</p>
                                    <img src="{% static 'img/PraCima icon.png' %}">
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div>
            <div class="caixa-botao">
                <div id="divClique">
                    <input type="button" id="botao" value="Adicionar Tarefas">
                </div>
            </div>

            <div class="caixa-pesquisa">
                <div id="divBusca">
                    <input type="text" id="txtBusca" placeholder="Pesquise por nome"/>
                    <img src="{% static '../img/pesquisar.png' %}" id="btnBusca" alt="Buscar"/>
                  </div>
                  
            </div>
        </div>
            <div class="paragrafo">
                <div class="texto">
                    <p>XX/XX - XX/XX</p>
                    <li>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                    </li>
                    <li>
                        <p>Nibh at egestas elementum id ipsum.</p>
                    </li>
                    <li>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                    </li>
                </div>
                <div class="texto">
                    <p>XX/XX - XX/XX</p>
                    <li>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                    </li>
                    <li>
                        <p>Nibh at egestas elementum id ipsum.</p>
                    </li>
                    <li>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                    </li>
                </div>
            </div>
            
        </section>