{% load static %}
<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <title>SGAV</title>
    </head>

    <body>
      <div class="container">
        <!--MENU-->
        <header class="container_menu">
          <img class="logo" src="{% static 'img/logo.svg' %}" alt="logo">
          <nav class="menu">
            <a href="dashboard"><img src="{% static 'img/menu1.svg' %}" alt=" "></a>
            <a href="#"><img src="{% static 'img/menu2.svg' %}" alt="Rank"></a>
            <a href="#"><img src="{% static 'img/menu3.svg' %}" alt="Indicações"></a>
            <a href="perfil"><img src="{% static 'img/menu4.svg' %}" alt="Perfil"></a>
          </nav>
        </header>
        <!--CENTRO-->
        <div class="container_conteudo">
          <!--TITULO-->
          <div class="titulo">
            <h3 class="sigla">SGAV</h3>
          </div>
          <!--BUSCA-->
          <div class="busca">
            <input type="text" placeholder="Pesquise por nome"/>
            <a href="#"><img src="{% static 'img/lupa.svg' %}"  alt="Buscar"/></a>
          </div>
          <!--CARDS-->
          <div class="Cards">
            <!--CARD 1-->
            <div class="card">
              <div class="card_titulo1">
                <div class="perfil">
                  <img src="{% static 'img/perfil.svg' %}" alt="Perfil"/>
                </div>
                <div class="alinhar">
                  <div class="nome">
                    <h4>Fulano da Silva</h4>
                    <img class="coroa" src="{% static 'img/coroa.svg' %}"/>
                  </div>
                  <p>Cargo|1º</p>
                </div> 
              </div>
              <div class="pontuacao">
                <p>100</p>
                <img class="pt" src="{% static 'img/estrela.svg' %}" alt="">
                <p>14</p>
                <img class="pt" src="{% static 'img/fogurte.svg' %}" alt="">
              </div>
              <div class="lista">
                <ul>
                  <li>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                  </li>
                  <li>
                    <p>Nibn at agestas elementun id ipsum.</p>
                  </li>
                  <li>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                  </li>
                </ul>
              </div>
              <a href="card">Veja mais</a>
            </div>
            <!--CARD 2-->
            <div class="card">
              <div class="card_titulo2">
                <div class="perfil">
                  <img src="{% static 'img/perfil.svg' %}" alt="Perfil"/>
                </div>
                <div class="alinhar">
                  <div class="nome">
                    <h4>Fulano da Silva</h4>
                    <img class="coroa" src="{% static 'img/coroa.svg' %}"/>
                  </div>
                  <p>Cargo|2º</p>
                </div> 
              </div>
              <div class="pontuacao">
                <p>100</p>
                <img class="pt" src="{% static 'img/estrela.svg' %}" alt="">
                <p>14</p>
                <img class="pt" src="{% static 'img/fogurte.svg' %}" alt="">
              </div>
              <div class="lista">
                <ul>
                  <li>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                  </li>
                  <li>
                    <p>Nibn at agestas elementun id ipsum.</p>
                  </li>
                  <li>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                  </li>
                </ul>
              </div>
              <a href="#">Veja mais</a>
            </div>
            <!--CARD 3-->
            <div class="card">
              <div class="card_titulo3">
                <div class="perfil">
                  <img src="{% static 'img/perfil.svg' %}" alt="Perfil"/>
                </div>
                <div class="alinhar">
                  <div class="nome">
                    <h4>Fulano da Silva</h4>
                    <img class="coroa" src="{% static 'img/coroa.svg' %}"/>
                  </div>
                  <p>Cargo|3º</p>
                </div> 
              </div>
              <div class="pontuacao">
                <p>100</p>
                <img class="pt" src="{% static 'img/estrela.svg' %}" alt="">
                <p>14</p>
                <img class="pt" src="{% static 'img/fogurte.svg' %}" alt="">
              </div>
              <div class="lista">
                <ul>
                  <li>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                  </li>
                  <li>
                    <p>Nibn at agestas elementun id ipsum.</p>
                  </li>
                  <li>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                  </li>
                </ul>
              </div>
              <a href="#">Veja mais</a>
            </div>
            <!--CARD 4-->
            <div class="card">
              <div class="card_titulo4">
                <div class="perfil">
                  <img src="{% static 'img/perfil.svg' %}" alt="Perfil"/>
                </div>
                <div class="alinhar">
                  <div class="nome">
                    <h4>Fulano da Silva</h4>
                    <img class="coroa" src="{% static 'img/coroa.svg' %}"/>
                  </div>
                  <p>Cargo|4º</p>
                </div> 
              </div>
              <div class="pontuacao">
                <p>100</p>
                <img class="pt" src="{% static 'img/estrela.svg' %}" alt="">
                <p>14</p>
                <img class="pt" src="{% static 'img/fogurte.svg' %}" alt="">
              </div>
              <div class="lista">
                <ul>
                  <li>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                  </li>
                  <li>
                    <p>Nibn at agestas elementun id ipsum.</p>
                  </li>
                  <li>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                  </li>
                </ul>
              </div>
              <a href="#">Veja mais</a>
            </div>
          </div>
          <!--CARROSSEL-->
          <div class="carrossel">
            <div class="circulo"></div>
            <div class="circulo"></div>
            <div class="circulo"></div>
          </div>
        </div>
        <!--ATIVIDADE-->
        <div class="container_atividade">
          <div class="atv_titulo">
            <div class="atv_icon">
              <img src="{% static 'img/iconAtiv.svg' %}" alt="">
            </div>
            <h4 class="atv_nome">Atividade</h4>
          </div>
          <!--PERFIL DAS ATIVIDADES-->
          <div class="atv_perfil">
            <!--PERFIL 1-->
            <div class="atv_pessoa">
              <div class="atv_icon">
                <img src="{% static 'img/perfilBlack.svg' %}" alt="Perfil">
              </div>
              <div class="atv_infor">
                <h4>Fulano da Silva <span> Concluiu<br>Lorem ipsum dolor sit amet.</span></h4>
                <div class="atv_pontos">
                  <span>+1</span>
                  <img class="estrela" src="{% static 'img/estrela.svg' %}">
                  <button class="bnt_pracima"></button>
                </div>
              </div>
            </div>
            <!--PERFIL 2-->
            <div class="atv_pessoa">
              <div class="atv_icon">
                <img src="{% static 'img/perfilBlack.svg' %}" alt="Perfil">
              </div>
              <div class="atv_infor">
                <h4>Fulano da Silva <span> Concluiu<br>Lorem ipsum dolor sit amet.</span></h4>
                <div class="atv_pontos">
                  <span>+1</span>
                  <img class="estrela" src="{% static 'img/estrela.svg' %}">
                  <button class="bnt_pracima"></button>
                </div>
              </div>
            </div>
            <!--PERFIL 3-->
            <div class="atv_pessoa">
              <div class="atv_icon">
                <img src="{% static 'img/perfilBlack.svg' %}" alt="Perfil">
              </div>
              <div class="atv_infor">
                <h4>Fulano da Silva <span> Concluiu<br>Lorem ipsum dolor sit amet.</span></h4>
                <div class="atv_pontos">
                  <span>+1</span>
                  <img class="estrela" src="{% static 'img/estrela.svg' %}">
                  <button class="bnt_pracima"></button>
                </div>
              </div>
            </div>
            <!--PERFIL 4-->
            <div class="atv_pessoa">
              <div class="atv_icon">
                <img src="{% static 'img/perfilBlack.svg' %}" alt="Perfil">
              </div>
              <div class="atv_infor">
                <h4>Fulano da Silva <span> Concluiu<br>Lorem ipsum dolor sit amet.</span></h4>
                <div class="atv_pontos">
                  <span>+1</span>
                  <img class="estrela" src="{% static 'img/estrela.svg' %}">
                  <button class="bnt_pracima"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
</html>