{% load static %}
<html lang="pt-br">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
        <title>SGAV</title>
    </head>
    <body>

        <div class="container">
            <div class="principal">
                <div class="menu-lateral">
                    <img class="logo" src="{% static 'img/logo empresa.png' %}" alt="logo">
                </div>
                <div class="container_titulo">
                    <div class="info">
                    <img class="imgperfil" src="{% static 'img/perfil-black.png' %}" alt="">
                    <h1>Fulano da Silva</h1>
                    <h2 class="texto">Cargo |   1 ª   |    3 meses na Empresa</h2>
                </div>

        <section class="caixas">
            <div class="card">
                25
                <img src="{% static 'img/estrela.png' %}" alt="">
                5
                <img src="{% static 'img/PraCima icon.png' %}" alt="">
            </div>
            <div class="card">
                10
                <img src="{% static 'img/estrela.png' %}" alt="">
                5
                <img src="{% static 'img/PraCima icon.png' %}" alt="">
            </div>
            <div class="card">
                100
                <img src="{% static 'img/estrela.png' %}" alt="">
                15
                <img src="{% static 'img/PraCima icon.png' %}" alt="">
            </div>
        </section>

        <section>
            <h1 class="titulo_sessao">Habilidades</h1>
            <div class="linguagens">
                <img src="{% static 'img/vscode-icons_file-type-reactjs.png' %}" alt="">
                <img src="{% static 'img/php.png' %}" alt="">
            </div>
        </section>cl

        <section>
            <h1 class="titulo_sessao">Projetos</h1>
            <div>
                <h2 class="subtitulo">Ativos(2)</h2>
                <li class="lista">
                    <p class="texto">Lorem ipsum dolor sit amet </p>
                </li>
                <li class="lista">
                    <p class="texto">Consectetur adipiscing elit</p>
                </li>
            </div>
        </section>