{% load static %}
<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="icon" href="{% static 'img/logo.svg' %}">
        <title>SGAV</title>
    </head>

    <body>
      <div class="container">
        <!--MENU-->
        <header class="container_menu">
          <img class="logo" src="{% static 'img/logo.svg' %}" alt="logo">
          <nav class="menu">
            <a href="dashboard"><img src="{% static 'img/menu1.svg' %}" alt=" "></a>
            <a href="#"><img src="{% static 'img/menu2.svg' %}" alt="Rank"></a>
            <a href="#"><img src="{% static 'img/menu3.svg' %}" alt="Indicações"></a>
            <a href="perfil"><img src="{% static 'img/menu4.svg' %}" alt="Perfil"></a>
          </nav>
        </header>
        <!--CENTRO-->
        <div class="container_conteudo">
            <!--NOME DO USUÁRIO-->
            <div class="perfil_user">
                <div class="img_perfil">
                    <img src="{% static 'img/perfilBlackperfil.svg' %}"/>
                    <button type="button"><img src="{% static 'img/lapis.svg' %}"/></button>
                </div>
                <div class="text_perfil">
                    <div class="info_perfil_user">
                        <h2>Fulano da Silva</h2>
                        <p>Cargo |   1 ª   |    3 meses na Empresa</p>
                    </div>
                </div>
            </div>
            <!--DIVS DENTRO DA OVERFLOW-->
            <div class="overflow_perfil">
                <!--INDICES-->
                <div class="indices">
                    <div class="card_indice">
                        <div class="info_card_indice">
                            <h2>25</h2>
                            <img src="{% static 'img/estrela.svg' %}"/>
                            <h2 class="margem">5</h2>
                            <img src="{% static 'img/fogurte.svg' %}"/>
                        </div>
                        <div class="text_indice">
                            <p>Mensal</p>
                        </div>
                    </div>
                    <div class="card_indice">
                        <div class="info_card_indice">
                            <h2>10</h2>
                            <img src="{% static 'img/estrela.svg' %}"/>
                            <h2 class="margem">5</h2>
                            <img src="{% static 'img/fogurte.svg' %}"/>
                        </div>
                        <div class="text_indice">
                            <p>Semanal</p>
                        </div>
                    </div>
                    <div class="card_indice">
                        <div class="info_card_indice">
                            <h2>100</h2>
                            <img src="{% static 'img/estrela.svg' %}"/>
                            <h2 class="margem">15</h2>
                            <img src="{% static 'img/fogurte.svg' %}"/>
                        </div>
                        <div class="text_indice">
                            <p>Anual</p>
                        </div>
                    </div>
                </div>
                <!--HABILIDADES-->
                <div class="habilidades">
                    <div class="info_habilidades">
                        <h1>Habilidades</h1>
                        <button><img src="{% static 'img/adicionar.svg' %}"/></button>
                    </div>
                    <div class="linguagens">
                        <img src="{% static 'img/iconVsCode.svg' %}"/>
                        <img src="{% static 'img/iconPhP.svg' %}"/>
                    </div>
                </div>
                <!--ATIVIDADES-->
                <div class="atividades">
                    <h1>Atividades</h1>
                    <div class="txt_atividade">
                        <div>
                            <p>XX/XX - XX/XX</p>
                            <ul>
                                <li>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                </li>
                                <li>
                                    <p>Nibh at egestas elementum id ipsum.</p>
                                </li>
                                <li>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="txt_atividade">
                        <div>
                            <p>XX/XX - XX/XX</p>
                            <ul>
                                <li>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                </li>
                                <li>
                                    <p>Nibh at egestas elementum id ipsum.</p>
                                </li>
                                <li>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--RODAPÉ-->
            <footer class="footer_sgva">
                <h3>SGAV</h3>
            </footer>
        </div>
        </div>
    </body>
</html>