.card_pessoal{
    display: flex;
    margin-top: 3vh;
    background-color: #C2CBD9;
}

.busca_addtarefa{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3vh;
}

.modal-container, .modal-container-lixeira{
    z-index: 9999;  
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
}

.modal section{
    padding: 2rem;
}

.modal-conteudo, .modal-conteudo-lixeira {
    border: solid black;
    border-radius: 10px;
    background-color: #EFEFEF;
}

.modal-conteudo-lixeira {
    padding: 30px;
}

.modal-header, .modal-header-lixeira{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2vh;
}

.modal-header-lixeira span{
    font-weight: bold;
}
.modal-header span, .modal-header-lixeira span{
    cursor: pointer;
    align-self: flex-end;
    padding: .3em;
}

.titulo-modal, .titulo-modal-lixeira{
    font-weight: 500;
    font-size: 25px;
    text-align: center;
}

.modal-form label {
    font-weight: 500;
    font-size: 25px;
    margin-top: 25px;
}

.modal-form input{
    width: 100%;
    border: none;
}

.modal-footer, .modal-footer-lixeira{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem; 
}

.modal-button{
    width: 181px;
    height: 45px;
    border: none;
    border-radius: 15px;
    background:#FFC53D;
    transition: transform 100ms;
}

.modal-open{
    display: flex;
    justify-content: center;
    align-items: center;
}

#excluir.modal-container-lixeira.modal-open {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.busca_addtarefa button{
    width: 181px;
    height: 55px;
    margin-top: 3vh;
    border: none;
    border-radius: 15px;
    background: #FFC53D;
    font-size: 18px;
    font-weight: 500;
    transition: transform 100ms;
}

.busca_addtarefa button:hover{
    transform: scale(1.08);
    cursor: pointer;
}

.card_pessoal_busca{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 428px;
    height: 55px;
    border-radius: 20px;
    margin-top: 3vh;
    transition: transform 200ms;
    background-color: #C2CBD9;
}

.paragrafo_card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3vh;

}
.texto_paragrafo{
    display: flex;
    align-items: center;
}

.modal-lixeira{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.modal-lixeira button{
    border: none;
} 

.modal-button-lixeira{
    width: 181px;
    height: 45px;
    border: none;
    border-radius: 15px;
    color: #EFEFEF;
    background:#AA1010;
    transition: transform 100ms;
}

.modal-lixeira img{
    width: 20px;
    height: 25px;
    opacity: 50%;
    margin-top: 5vh; 
}

.modal-content-lixeira {
    justify-content: center;
    text-align: center;
    width: 250px;
    margin-bottom: 20px;
}