*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Montserrat';
    font-style: normal;
}

.container_login{
    background-color: #3F739C;
    color: white;
}

.main-content{
    display: flex;
    width: 50vh;
    height: 100vh;
}

.login_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #2B2828;
    background-color: #efefef;
    border-bottom-right-radius: 10vh;
    box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.25);
}
.sigla{
    font-size: 4vh;
    margin-left: 10vh;
    margin-top: 5vh;
}

.container_form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vh;
}

label, input{
    display: block;
    text-align: left;
}

label{
    font-weight: 500;
    font-size: 4vh;                          
}

.login #erro_email_login, .login #erro_senha_login{
    display: none;
}

input{
    font-size: 4vh;
    background: #ffff;
    border: none;
    padding: 1vh;
    border-bottom: 0.5vh solid rgba(63, 115, 156, 0.3);
    border-radius: 1vh;
    margin-bottom: 2vh;
    margin-top: 2vh;
    outline: none;
}

input[type='submit']{
    text-align: center;
    font-weight: bold;
    border: none;
    width: 51vh;
    border-radius: 1vh;
    background-color: #FFC53D;
}

.titulo_principal{
    width: 60vh;
    font-weight: 900;
    font-size: 6vh;
    margin-top: 10vh;
    margin-left: 15vh;
    color: white;
}

.rodape{
    width: 100vh;
    height: 60vh;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    font-weight: 50;
    font-size: 3vh;
    color: white;
}