*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Montserrat';
    font-style: normal;
    background-color: #FCFCFC;
}

.perfil_user{
    display: flex;
    height: 277px;
    background-color: #C2CBD9;
}

.img_perfil{
    display: flex;
    align-items: center;
    margin-left: 10vh;
}

.editor{
    margin-top: 17vh;
}

.text_perfil{
    display: flex;
    align-items: center;
    margin-left: 5vh;
}

.info_perfil_user{
    flex-direction: column;
}

.info_perfil_user h2{
    font-weight: 500;
    font-size: 40px;
}

.info_perfil_user p{
    font-weight: 300;
    font-size: 25px;
}

.caixas {
    display: flex;
    justify-content: center;
}

.card {
    background: #FFC53D;
    margin: 40px;
    width: 20%;
    height: 120px;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo_sessao {
    margin-left: 40px;
}

.linguagens {
    margin: 50px 50px 50px 115px;
}

.subtitulo {
    color: #3F739C;
    font-weight: 400;
    margin: 50px 0 30px 140px;
}

.lista {
    margin: 0 0 0 170px
}